html,body{
	height: 100%;
}
body{
	font-family: arial,helvetica,sans-serif;
	margin:0;
	padding:0;
	overflow: hidden;
	background-color:#eeeeee;
}
*{-webkit-tap-highlight-color:transparent;}
.app-container{
	height: 100%;
	position:relative;
    padding:40px 0;
    box-sizing: border-box;
    overflow-y:auto;
    overflow-x:hidden;
}
.title-bar{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background-color:#333333;
	color:#eeeeee;
}
.title-bar>h1{
	margin:10px 10px;
	padding:0;
	font-weight: 100;
	font-size:18px;
}
#message{
	background-color:#fff7d0;
	height:0;
	overflow: hidden;
	transition:all 1s;
    color:#000;
    text-align: center;
}
#message.open{
	height:20px;
	padding: 10px;
}

.list-container>ul{
	margin: 0;
	padding:0;
	color:#666;
	list-style: none;
	font-size:24px;
}
.list-container>ul>li{
	padding: 10px;
	word-wrap: break-word;
	background-color:#ffffff;
}
.list-container>ul>li.done{
	text-decoration: line-through;
	background-color:#dddddd;
	color:#999;
}
.list-container>ul>li.done::before,{
	content:"\0032";
	display: inline;
	text-decoration: line-through;
}
.list-container>ul>li.done::after{
	content: "\2713";
	color:green;
	display: inline;
	float:right;
}
.input-bar{
    background-color:#000;
    height: 40px;
    position:fixed;
    width:100%;
    bottom:0;
    left:0;
}
.input-bar>.container{
	display: flex;
    flex-direction: row;
}
.input-box{
    width:100%;
    height:40px;
    position:fixed;
    bottom:40px;
    left:0;
}
.input{
    display: inline-block;
    box-sizing: border-box;
    height:40px;
    padding:5px;
    font-size:20px;
    width:100%;
}
.button{
    flex:1 0 0;
	color:white;
    height:40px;
    background-color:transparent;
    background-position: center center;
    background-size:30%;
    background-repeat: no-repeat;
    border:0;
}
.button:focus{
    border-bottom:1px solid white;
    outline:0;
}
#add-button{
    background-image:url("assets/dismiss-all_add-disabled.svg");
}
#hide-button{
    background-image: url("assets/dismiss-all_show-done-active.svg");
}
#dismiss-button{
    background-image:url("assets/dismiss-all_dismiss-al-active.svg");
}
