html,body{
	height: 100%;
}
body{
	font-family: arial,helvetica,sans-serif;
	margin:0;
	padding:0;
	overflow: hidden;
	background-color:#eeeeee;
}
*{-webkit-tap-highlight-color:transparent;}
.app-container{
	height: 100%;
	position:relative;
}
.title-bar{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background-color:#333333;
	color:#eeeeee;
	padding:10px;
}
.title-bar>h1{
	margin:0;
	padding:0;
	font-weight: 100;
	font-size:18px;
}
.list-container{
	padding-top:50px;
}
.list-container>ul{
	margin: 0;
	padding:0;
	color:#666;
	list-style: none;
	font-size:24px;
}
.list-container>ul>li{
	padding: 10px;
	word-wrap: break-word;
	background-color:#ffffff;
}
.list-container>ul>li.done{
	text-decoration: line-through;
	background-color:#dddddd;
	color:#999;
}
.list-container>ul>li.done::before,{
	content:"\0032";
	display: inline;
	text-decoration: line-through;
}
.list-container>ul>li.done::after{
	content: "\2713";
	color:green;
	display: inline;
	float:right;
}
.input-bar{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	display: flex;
}
.input-bar>.container{
	position:relative;
}
.button>button{
	width:48px;
	height: 48px;
	display:inline-block;
	border-radius: 24px;
	border 2px solid white;
	background-color:#ff3300;
	font-size:18px;
	flex:1 0 0;
}
.button:focus{
	outline:0;
}
.input{
	font-size:16px;
	color:#666666;
	width:10%;
	outline:none;
	border:1px solid #999999;
	padding:10px;
	transition:all 1s;
	flex:9 0 0;
}
.input.open{
	width:100%;
}